.cadastrar-container{
        display: flex;
        padding-top: 10%;
        justify-content: center;
        background-color: #f2e4f9;
        padding-bottom: 10%;
        h1{
            margin: 5%;
        }
}